.input_error_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 8px;

  .input_error_logo {
    display: inline;
    width: 20px;
    height: 20px;
  }

  .input_error_message {
    color: #BD0013;
    font-size: 14px;
    display: inline;
    font-family: "Dubai", monospace;
    margin: 0;
  }
}
