<section class="form-wrapper">
  <p>Registration</p>
<!--  <form class="register-form" method="post" id="register-form" [formGroup]="form">-->
<!--    <label class="register-field">-->
<!--      <input type="email" name="email" placeholder="Email" class="register-input" required>-->
<!--    </label>-->
<!--    <label class="register-field">-->
<!--      <input type="text" name="username" placeholder="Username" class="register-input" required>-->
<!--    </label>-->
<!--    <div class="first-last-name-wrapper">-->
<!--      <label class="register-field first-last-name-label">-->
<!--        <input type="text" name="first_name" placeholder="First name" class="first-last-name register-input" required>-->
<!--      </label>-->
<!--      <label class="register-field first-last-name-label">-->
<!--        <input type="text" name="last_name" placeholder="Last name" class="first-last-name register-input" required>-->
<!--      </label>-->
<!--    </div>-->

<!--    <label class="register-field">-->
<!--      <input type="password" name="password" placeholder="Password" required="required" minlength="6"-->
<!--             class="register-input">-->
<!--    </label>-->
<!--    <label class="register-field">-->
<!--      <input type="password" name="confirm_password" placeholder="Confirm password" required="required" minlength="6"-->
<!--             class="register-input">-->
<!--    </label>-->
<!--    <p class="error"></p>-->
<!--    <p class="form-text terms-condition">-->
<!--      By signing  up you agree to our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>-->
<!--    </p>-->
<!--    <button type="submit" class="submit-button">Sign Up</button>-->
<!--    <p class="form-text">-->
<!--      Have an account? Sign In.-->
<!--    </p>-->
<!--  </form>-->
</section>
