<section class="form-wrapper">
  <app-form-header [type]="'reset-password'"></app-form-header>
  <div class="info">
    <mat-icon class="forgot-password-sad-smile" svgIcon="forgot-password-sad-smile"></mat-icon>
    <p class="message">Don't worry! Enter your email address, and we will send you an email with instructions to reset
      your password.</p>
    <form class="resend-email-form" [formGroup]="form" (submit)="onSubmit()">
      <label>
        <input class="underlined-input" type="email" formControlName="email" placeholder="Email" maxlength="500"
               required>
      </label>
      <app-email-validation [form]="form" class="reset-password-validation-error"></app-email-validation>
      <app-server-validation-error-message [messageText]="errorMessage"></app-server-validation-error-message>
      <button class="greeny-stroked-button reset-password-button">Send me an email</button>
    </form>
  </div>
</section>
