@use '../../../../../assets/styles/colors' as colors;

.form-wrapper {
  width: 630px;
  min-height: 500px;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.forgot-password-sad-smile{
  padding: 3% 0 4% 0;
  height: 175px;
  width: 175px;
}

.resend-email-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underlined-input{
  width: 350px;
}

.greeny-stroked-button{
  min-width: 170px;
}

.reset-password-button{
  margin: 9% 0 9% 0;
}

.message{
  width: 80%;
}

.reset-password-validation-error{
  width: 360px;
}
