<section class="form-wrapper">
  <app-form-header [type]="'change-password'"></app-form-header>
  <form class="change-password-form" [formGroup]="form" (submit)="onSubmit()">
    <label>
      <input class="underlined-input" type="password" formControlName="current_password" placeholder="Old password"
             maxlength="500" required>
    </label>

    <label>
      <input class="underlined-input" type="password" formControlName="new_password" placeholder="New password"
             maxlength="500" required>
    </label>

    <label>
      <input class="underlined-input" type="password" formControlName="confirm_password"
             placeholder="Confirm new password" maxlength="500" required>
    </label>
    <button class="greeny-stroked-button change-password-button">Submit</button>
  </form>
</section>
