.form-wrapper {
  min-height: 380px;
  width: 470px;
}

.change-password-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

//.underlined-input {
//  margin-top: 35px;
//}

.change-password-button {
  margin: 10% 0 10% 0;
}

