<section class="form-wrapper">
  <app-form-header [text]="'Login'"></app-form-header>
  <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
    <label>
      <input class="login-input" type="email" formControlName="email_or_username" placeholder="Email or username">
    </label>
<!--    <div *ngIf="this.form.get('email')?.invalid && (this.form.get('email')?.dirty || this.form.get('email')?.touched)"-->
<!--         class="alert alert-danger"></div>-->
    <label>
      <input class="login-input" type="password" formControlName="password" placeholder="Password">
    </label>
    <app-submit-button [buttonValue]="'Log In'"></app-submit-button>
  </form>
</section>

