.buttons-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.profile-logo-menu-button {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);
}

.first-profile-logo-menu-button {
  border-top: 0.5px solid rgba(0, 0, 0, 0.26);
}
