@use '../../../../../assets/styles/colors' as colors;

.form-wrapper {
  min-height: 250px;
  width: 500px;
}

.reset-password-confirm-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.reset-password-confirm-client-error {
  max-width: 300px;
}

.reset-password-confirm-button {
  margin: 5% 0 7% 0;
}



