<section class="form-wrapper">
  <app-form-header [type]="'reset-password-confirm'"></app-form-header>
  <form class="reset-password-confirm-form" [formGroup]="form" (submit)="onSubmit()">
    <label>
      <input class="underlined-input" type="password" formControlName="password" placeholder="New password" maxlength="500" required>
    </label>
    <app-password-validation [form]="form" [loginForm]="form" class="reset-password-confirm-client-error"></app-password-validation>

    <label>
      <input class="underlined-input" type="password" formControlName="confirm_password" placeholder="Confirm new password" maxlength="500" required>
    </label>
    <app-confirm-password-validation [form]="form" class="reset-password-confirm-client-error"></app-confirm-password-validation>
    <app-server-validation-error-message  [messageText]="errorMessage"></app-server-validation-error-message>
    <button class="greeny-stroked-button resend-password-confirm-button">Submit</button>
  </form>
</section>
