<section class="form-wrapper">
  <app-form-header [type]="'registration_success'"></app-form-header>
  <div class="confirm-account-wrapper">
    <img src="assets/images/logos/сonfirm_account_logo.png" alt="" class="confirm-account-logo">
    <p class="message">Congrats! We sent activation link on your email. Please, check your inbox and spam folders and follow our instructions.</p>
    <app-navigation-auth-button *ngFor="let item of redirectButton" [navData]=item></app-navigation-auth-button>
  </div>
</section>
