<section class="form-wrapper">
  <app-form-header [text]="'Thank you for registration'" [paddingTop]="'register'"></app-form-header>
  <div class="confirm-account-wrapper">
    <img src="assets/images/logos/сonfirm_account_logo.png" alt="" class="confirm-account-logo">
    <p class="message">Congrats! We sent activation link on your email. Please, check your inbox and spam folders and follow our instructions.</p>
    <a [routerLink]="'/login'" class="message resend_activation">Didn't receive email?</a>
  </div>
</section>
