@use '../../assets/styles/colors' as colors;

.form-wrapper {
  overflow: auto;
  margin: 27vh auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px colors.$form-wrapper-shadow-color;
  background-color: colors.$form-wrapper-color;
}
