<nav class="navbar">
  <app-site-name></app-site-name>
  <app-navigation-button *ngFor="let item of navButtons" [navData]=item></app-navigation-button>
  <div class="right-auth-panel">
    <app-navigation-profile-logo-menu></app-navigation-profile-logo-menu>
  </div>
<!--    <app-navigation-auth-button *ngFor="let item of navAuthButtons" [navData]=item></app-navigation-auth-button>-->
<!--    <img class='profile-logo' src="assets/images/profile.png" alt="" (click)="profileLogoClick()">-->
<!--    <mat-icon class='profile-logo' [svgIcon]="'assets/images/profile.png'"></mat-icon>-->
<!--    <mat-select [value]="'Selected'">-->
<!--      <mat-option>None</mat-option>-->
<!--&lt;!&ndash;      <mat-option></mat-option>&ndash;&gt;-->
<!--      <mat-option value="option2">Option 2</mat-option>-->
<!--      <mat-option value="option3">Option 3</mat-option>-->
<!--    </mat-select>-->
<!--      <mat-icon></mat-icon></button>-->
</nav>

