@use '../../../../assets/styles/colors' as colors;

.navbar{
  display: flex;
  align-items: center;
  column-gap: 20px;
  background: colors.$navigation-bar-grey;
  height: 50px;
  font-size: 30px;
  padding: 10px 10px;
}

.right-auth-panel{
  margin-left: auto;
  display: flex;
  column-gap: 15px;
}
