<nav class="navbar">
  <app-site-name></app-site-name>
  <app-navigation-button *ngFor="let item of navButtons" [navData]=item></app-navigation-button>
  <div class="right-auth-panel">
    <app-navigation-profile-logo-menu *ngIf="this.cookie.getRefreshToken()"></app-navigation-profile-logo-menu>
    <ng-container *ngIf="!this.cookie.getRefreshToken()">
      <app-navigation-auth-button *ngFor="let item of navAuthButtons" [navData]=item></app-navigation-auth-button>
    </ng-container>
  </div>
</nav>

