<section class="form-wrapper">
  <app-form-header [type]="'password-changed'"></app-form-header>
  <ng-container *ngIf="switch">
    <mat-icon class="smiles" svgIcon="email-sent-success-happy-reverse-smile" (click)="onSmileClick()"></mat-icon>
  </ng-container>

  <ng-container *ngIf="!switch">
    <mat-icon class="smiles" svgIcon="email-sent-success-happy-smile" (click)="onSmileClick()"></mat-icon>
  </ng-container>
  <button class="greeny-stroked-button email-sent-success-button"
          *ngFor="let item of redirectButton" (click)="this.router.navigateByUrl(item.link)">{{item.text}}</button>
</section>
