.form-header {
  text-align: center;
  font-family: "Courier New", monospace;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.login {
  padding-top: 25px;
}

.registration {
  padding-top: 30px;
}

.registration_success {
  padding-top: 30px;
}

.account_activation {
  margin: 2% 0 5% 0 ;
}

.resend_email_form{
  margin: 5% 0 2% 0;
  font-size: 18px;
}

.reset-password{
  margin: 4% 0 2% 0;
}

.reset-password-confirm{
  margin: 4% 0 0 0;
}

.email-sent-success{
  margin: 8% 0 5% 0;
}
