.form-header {
  text-align: center;
  font-family: "Courier New", monospace;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.login {
  padding-top: 25px;
}

.registration {
  padding-top: 30px;
}

.registration_success {
  padding-top: 30px;
}
