@use '../../../../../assets/styles/colors' as colors;

.form-wrapper {
  width: 405px;
  min-height: 470px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; // do not remove this one it is needed
  height: 100%;
}

.register-input {
  height: 35px;
  width: 275px;
  margin-top: 25px;
}

.first-last-name-label {
  display: inline;
  margin: auto;
}

.first-last-name {
  width: 135px;
}

.first-last-name-errors-wrapper {
  width: 275px;
  display: flex;
  justify-content: space-between;

  .first-last-name-error-wrapper {
    width: 125px;
  }
}

.server-error-wrapper{
  display: flex;
  justify-content: center;
}

.register-validation-error{
  max-width: 260px;
}

.submit-button{
  margin: 20px 0 0 175px;
}
