<section class="form-wrapper">
  <app-form-header [type]="'registration'"></app-form-header>
  <form class="register-form" [formGroup]="form" (submit)="onSubmit()">
    <label>
      <input class="register-input" type="email" formControlName="email" placeholder="Email" required>
    </label>
    <app-email-validation [form]="form"></app-email-validation>

    <label>
      <input class="register-input" type="text" formControlName="username" placeholder="Username" required>
    </label>
    <div class="wrapper">
      <app-register-text-validation [form]="form" [fieldName]="'username'"></app-register-text-validation>
    </div>

    <label class="first-last-name-label">
      <input class="register-input first-last-name" type="text" formControlName="first_name" placeholder="First name"
             required>
    </label>

    <label class="first-last-name-label">
      <input class="register-input first-last-name" type="text" formControlName="last_name" placeholder="Last name"
             required>
    </label>
    <div class="wrapper">
      <div class="first-last-name-errors-wrapper">
        <div class="first-last-name-error-wrapper first-name-error-wrapper">
          <app-register-text-validation [form]="form" [fieldName]="'first_name'"></app-register-text-validation>
        </div>
        <div class="first-last-name-error-wrapper last-name-error-wrapper">
          <app-register-text-validation [form]="form" [fieldName]="'last_name'"></app-register-text-validation>
        </div>
      </div>
    </div>


    <label>
      <input class="register-input" type="password" formControlName="password" placeholder="Password" required>
    </label>
    <app-password-validation [loginForm]="this.form" [form]="this.form"></app-password-validation>

    <label>
      <input class="register-input" type="password" formControlName="confirm_password" placeholder="Confirm password"
             required>
    </label>
    <div class="wrapper">
      <app-confirm-password-validation [form]="form"></app-confirm-password-validation>
    </div>
<!--    <div #error class="error"></div>-->
    <div class="server-error-wrapper">
      <app-server-validation-error-message [messageText]="errorMessage"></app-server-validation-error-message>
    </div>



    <app-auth-terms-warning [termsLink]="'/terms'" [policyLink]="'/privacy-policy'"></app-auth-terms-warning>
    <app-registration-submit-button [buttonValue]="'Sign Up'"></app-registration-submit-button>
    <app-form-text [type]="'registration'" [linkTo]="'login'"></app-form-text>
  </form>
</section>
