<section class="form-wrapper">
  <app-form-header [type]="'registration'"></app-form-header>
  <form class="register-form" [formGroup]="form" (submit)="onSubmit()">
    <label>
      <input class="register-input" type="email" formControlName="email" placeholder="Email" required>
    </label>
    <app-email-validation [form]="form" class="register-validation-error"></app-email-validation>

    <label>
      <input class="register-input" type="text" formControlName="username" placeholder="Username" required>
    </label>
    <app-register-text-validation [form]="form" [fieldName]="'username'"
                                  class="register-validation-error"></app-register-text-validation>

    <div class="first-last-name-wrapper">
      <label class="first-last-name-label">
        <input class="register-input first-last-name" type="text" formControlName="first_name" placeholder="First name"
               required>
      </label>

      <label class="first-last-name-label">
        <input class="register-input first-last-name" type="text" formControlName="last_name" placeholder="Last name"
               required>
      </label>


      <div class="first-last-name-errors-wrapper">
        <div class="first-last-name-error-wrapper first-name-error-wrapper">
          <app-register-text-validation [form]="form" [fieldName]="'first_name'"></app-register-text-validation>
        </div>
        <div class="first-last-name-error-wrapper last-name-error-wrapper">
          <app-register-text-validation [form]="form" [fieldName]="'last_name'"></app-register-text-validation>
        </div>
      </div>
    </div>

    <label>
      <input class="register-input" type="password" formControlName="password" placeholder="Password" required>
    </label>
    <app-password-validation [loginForm]="this.form" [form]="this.form"
                             class="register-validation-error"></app-password-validation>

    <label>
      <input class="register-input" type="password" formControlName="confirm_password" placeholder="Confirm password"
             required>
    </label>
    <app-confirm-password-validation [form]="form" class="register-validation-error"></app-confirm-password-validation>

    <app-server-validation-error-message [messageText]="errorMessage"
                                         class="register-validation-error"></app-server-validation-error-message>

    <app-auth-terms-warning [termsLink]="'/terms'" [policyLink]="'/privacy-policy'"></app-auth-terms-warning>
    <app-registration-submit-button [buttonValue]="'Sign Up'"></app-registration-submit-button>
    <app-form-text [type]="'registration'" [linkTo]="'login'"></app-form-text>
  </form>
</section>
