.form-text {
  margin: 40px 0 0 0;
  font-family: "Dubai", monospace;
  font-size: 14px;
}

.login {
  padding-bottom: 30px;
}

.registration {
  padding-bottom: 27px;
}

.registration-success {
  padding-bottom: 30px;
}
