<section class="form-wrapper">
  <app-form-header [text]="'Sign In'" [paddingTop]="'login'"></app-form-header>
  <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
    <label>
      <input class="login-input" type="email" formControlName="email_or_username" placeholder="Email or username" required>
    </label>
    <div *ngIf="this.validateEmail()"
         class="alert alert-danger">
      {{this.getEmailError()}}
    </div>
    <div *ngIf="this.validateUsername()"
         class="alert alert-danger">
      {{this.getUsernameError()}}
    </div>
    <label>
      <input class="login-input" type="password" formControlName="password" placeholder="Password" required>
    </label>
    <div *ngIf="this.validatePassword()">
      {{this.getPasswordError()}}
    </div>
    <app-submit-button [buttonValue]="'Log In'"></app-submit-button>
    <app-form-text [text]="'Do not have an account?'" [linkText]="'Create an account'" [link]="'/registration'"
    [paddingBottom]="'login'"></app-form-text>
  </form>
</section>

